p = t('devise.mailer.reset_password_instructions.hello', :email => @resource.email)

p = t('devise.mailer.reset_password_instructions.change_request')

p = link_to t('devise.mailer.reset_password_instructions.change_request_link'), edit_password_url(@resource, reset_password_token: @token)

p = t('devise.mailer.reset_password_instructions.ignore')

p = t('devise.mailer.reset_password_instructions.no_change')